$tablet-width: 768px;
$phone-width: 375px;
$desktop-width: 765px;

@media (min-width: #{$desktop-width}) {}

@media (max-width: #{$tablet-width}) {
    body {
        
        .hidden_container{
            position: fixed;
            top: 94px;
            right: -380px;
            width: 300px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 80;
            transition: .3s;

            .menu{
                display: flex;
                flex-direction: column;
                align-items: center;

                nav{
                    width: 100%;

                    ul{
                        li{
                            text-align: center;
                            a{
                                font-family: Lato, sans-serif;
                                display: block;
                                color: #ffffff;
                                font-style: normal;
                                font-weight: 700;
                                font-size: 12px;
                                line-height: 1.643;
                                letter-spacing: 0em;
                                padding: 10px 0;
                                text-transform: uppercase;
                                transition: .3s all ease;
                                position: relative;

                                &:hover:before{
                                    transform: scaleX(1);
                                }

                                &:before{
                                    content: "";
                                    position: absolute;
                                    transform: scaleX(0);
                                    z-index: -1;
                                    top: 0;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    background: #2098D1;
                                    transition-duration: 0.3s;
                                }
                            }
                        }
                    }
                }
            }
        }
        .show{
           right: 0;
        }
        .header {
            header {
                .header_btn{
                    display: block;
                }
                .logo_menu {
                    .menu {
                        display: none;
                    }
                }

            }
        }
        .top_container{
            .top_content{
                h2{
                    font-size: 45px;
                }
                p{
                    font-size: 16px;
                }
                a{
                    font-size: 10px;
                }
            }
        }
        .middle_container {
            padding: 100px 100px 100px 100px;

            .middle_content {
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .middle_title {
                    h3 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 15px;
                    }
                }
                form{
                    flex-direction: column;
                    border-radius: 10px;

                    button{
                        padding: 9.5px 25px 12.5px;
                    }
                }
            }
        }

        .offer_container {
            .offers {
                align-items: center;
                flex-direction: column;

                .offer {
                    margin-top: 20px;
                    max-width: 500px;

                    .offer_image {}

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .recent_container {
            .recents {
                align-items: center;
                flex-direction: column;

                .recent {
                    margin-top: 20px;
                    max-width: 500px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .onvacation_content {
            .onvacations {
                align-items: center;
                flex-direction: column;

                .onvacation {
                    margin-top: 20px;
                    max-width: 500px;

                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .animate_container {
            flex-direction: column;
            align-items: normal;
            flex: 1;

            .animate {
                margin-top: 20px;

                &:first-child {
                    margin-top: 0;
                }
            }
        }

        footer {
            padding: 74px 50px 55px 50px;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .footer_container {
                margin-left: 50px;
                margin-bottom: 50px;

                &:first-child {
                    display: none;
                }
                &:last-child{
                    margin-bottom: 0;
                    margin-left: 0;
                }
            }
        }
        .copy_container {
            padding: 0 50px;
            flex-direction: column;
            align-items: center;
        }
        .find_container{
            padding: 100px 100px 100px 100px;

            .find_content{
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                .find_title{
                    h3{
                        font-size: 24px;
                    }
                }
                .more_find{
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
        .flight_container{
            padding: 100px 100px 100px 100px;

            .find_content{
                max-width: 1200px;
                margin: 0 auto;
                display: flex;
                flex-direction: column;

                    h3{
                        font-size: 25px;
                    }
                    .more_flight{
                        a{
                            font-size: 10px;
                        }
                    }
            }
        }
    }
}

@media (max-width: #{$phone-width}) {
    body{
        .hidden_container{
            width: 100%;
        }
    }
    .top_container{
        .top_content{
            padding-left: 30px;
        }
    }
    .animate_container{
        border-top: 1px solid #aaaaaa69;
    }
    .recent_container{
        border-top: 1px solid #aaaaaa69;
    }
    .middle_container{
        display: none;
    }
    .customers_container {
        max-width: 500px;
    }
    .find_container{
        display: none;
    }
    .flight_container{
        display: none;
    }
}