@media (min-width: 765px) {
  .work_container .work_images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work_container .work_images img {
    margin-top: 30px;
  }
  .work_container .work_images img:first-child {
    margin-top: 0;
  }
  .traveling_container .image {
    display: none;
  }
}

@media (max-width: 768px) {
  body .hidden_container {
    position: fixed;
    top: 94px;
    right: -380px;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 80;
    -webkit-transition: .3s;
    transition: .3s;
  }
  body .hidden_container .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .hidden_container .menu nav {
    width: 100%;
  }
  body .hidden_container .menu nav ul li {
    text-align: center;
  }
  body .hidden_container .menu nav ul li a {
    font-family: Lato, sans-serif;
    display: block;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.643;
    letter-spacing: 0em;
    padding: 10px 0;
    text-transform: uppercase;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    position: relative;
  }
  body .hidden_container .menu nav ul li a:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  body .hidden_container .menu nav ul li a:before {
    content: "";
    position: absolute;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2098D1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  body .show {
    right: 0;
  }
  body .header header .header_btn {
    display: block;
  }
  body .header header .logo_menu .menu {
    display: none;
  }
  body .top_container .top_content h2 {
    font-size: 45px;
  }
  body .top_container .top_content p {
    font-size: 16px;
  }
  body .top_container .top_content a {
    font-size: 10px;
  }
  body .middle_container {
    padding: 100px 100px 100px 100px;
  }
  body .middle_container .middle_content {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .middle_container .middle_content .middle_title h3 {
    font-size: 40px;
  }
  body .middle_container .middle_content .middle_title p {
    font-size: 15px;
  }
  body .middle_container .middle_content form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 10px;
  }
  body .middle_container .middle_content form button {
    padding: 9.5px 25px 12.5px;
  }
  body .offer_container .offers {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .offer_container .offers .offer {
    margin-top: 20px;
    max-width: 500px;
  }
  body .offer_container .offers .offer:first-child {
    margin-top: 0;
  }
  body .recent_container .recents {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .recent_container .recents .recent {
    margin-top: 20px;
    max-width: 500px;
  }
  body .recent_container .recents .recent:first-child {
    margin-top: 0;
  }
  body .onvacation_content .onvacations {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .onvacation_content .onvacations .onvacation {
    margin-top: 20px;
    max-width: 500px;
  }
  body .onvacation_content .onvacations .onvacation:first-child {
    margin-top: 0;
  }
  body .animate_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .animate_container .animate {
    margin-top: 20px;
  }
  body .animate_container .animate:first-child {
    margin-top: 0;
  }
  body footer {
    padding: 74px 50px 55px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .footer_container {
    margin-left: 50px;
    margin-bottom: 50px;
  }
  body footer .footer_container:first-child {
    display: none;
  }
  body footer .footer_container:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }
  body .copy_container {
    padding: 0 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .find_container {
    padding: 100px 100px 100px 100px;
  }
  body .find_container .find_content {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .find_container .find_content .find_title h3 {
    font-size: 24px;
  }
  body .find_container .find_content .more_find a {
    font-size: 10px;
  }
  body .flight_container {
    padding: 100px 100px 100px 100px;
  }
  body .flight_container .find_content {
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .flight_container .find_content h3 {
    font-size: 25px;
  }
  body .flight_container .find_content .more_flight a {
    font-size: 10px;
  }
  .top_container .top_title h2 {
    font-size: 36px;
  }
  .body .main_container .tour_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 30px;
    text-align: center;
  }
  .body .main_container .tour_container .tour_image {
    margin-right: 0;
  }
  .body .main_container .tour_container .tour_image a img {
    max-width: 100%;
    height: 100%;
  }
  .work_container .work_images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work_container .work_images img {
    margin-top: 30px;
  }
  .work_container .work_images img:first-child {
    margin-top: 0;
  }
  .traveling_container .image {
    display: none;
  }
  .body .team_container .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body .team_container .team .team_item {
    padding-left: 6.4285rem;
    padding-right: 6.4285rem;
    padding-bottom: 2.78553rem;
  }
  .our_skills .skills .our_skills_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our_skills .skills .our_skills_container .skills_container {
    margin-bottom: 50px;
  }
  .our_skills .skills .our_skills_container .skills_container:last-child {
    margin-bottom: 0;
  }
  .contact_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_container .contact_content form button {
    padding: 10px 15px;
  }
}

@media (max-width: 375px) {
  body .hidden_container {
    width: 100%;
  }
  .top_container .top_content {
    padding-left: 30px;
  }
  .animate_container {
    border-top: 1px solid #aaaaaa69;
  }
  .recent_container {
    border-top: 1px solid #aaaaaa69;
  }
  .middle_container {
    display: none;
  }
  .customers_container {
    max-width: 500px;
  }
  .find_container {
    display: none;
  }
  .flight_container {
    display: none;
  }
}
/*# sourceMappingURL=responsive.css.map */